<div id="login-signup-container">
    <div class="login-container">
        <h2 class="title">Login</h2>
        <div>
            <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div>
            <button class="navlink" id="login-button">Login</button>
        </div>

    </div>
    
    <div class="login-container">
        <h2 class="title">Sign Up</h2>
        <div>
            <label for="username-signup">Username:</label>
            <input class="form-input" type="text" id="username-signup" />
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input class="form-input" type="password" id="password-signup" />
            <p class="hint">Passwords must be at least 5 alphanumeric characters long!</p>
        </div>
        <div>
            <button class="navlink" id="signup-button">Sign Up</button>
        </div>

    </div>

</div>

<script src="/js/login.js"></script>
